[submodule "tools/n64recomp"]
	path = tools/n64recomp
	url = https://github.com/N64Recomp/N64Recomp.git
	branch = main

[submodule "recomp/lib/N64ModernRuntime"]
	path = recomp/lib/N64ModernRuntime
	url = https://github.com/N64Recomp/N64ModernRuntime.git
	branch = main
